@font-face {
    font-family: 'game-font';
    src: url('/res/fonts/GamePlayed-vYL7.ttf');
}

.game-container {
    width: 100%;
    max-width: 500px;
    min-height: 450px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 50px #000;
    padding: 15px;
    z-index: 2;
}

.game-title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'game-font', sans-serif;
    letter-spacing: 5px;
    text-align: center;
}

.word-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.times-up {
    color: red;
}

.timer-container {
    width: 100%;
    padding: 15px;
    font-weight: 500;
}

#timer {
    font-weight: bold;
}

.user-inputs {
    width: 100%;
    min-height: 100px;
    padding: 15px;
}

.unscramble-input {
    width: 100%;
    border: none;
    border: 1px solid grey;
    outline: none;
    background-color: none;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 12px;
}

.buttons {
    min-height: 100px;
    padding-top: 15px;
    display: flex;
    margin-right: -15px;
}

.buttons .button {
    width: 100%;
    height: 50px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    margin-right: 15px;
    transition: .3s;
    font-family: 'game-font', sans-serif;
    letter-spacing: 2px;
}

/* .button:active {
    background-color: red;
} */

.buttons .check {
    background-color: #1b9b1d;
}

.buttons .button:hover {
    background-color: #5d5d5d;
}

.buttons .check:hover {
    background-color: #157716;
}

.score, .high-score {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'game-font', sans-serif;
    letter-spacing: 5px;
}

.score {
    top: 55px;
}

/* confetti */

canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
  }