* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: #000;
}

.content {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    background: linear-gradient(to right, #2d2d6b, #1b9b1d);
    display: flex;
    justify-content: center;
    align-items: center;
}