.game-container {
    width: 100%;
    max-width: 500px;
    min-height: 450px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 50px #000;
    padding: 15px;
}

.game-title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

.word-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.times-up {
    color: red;
}

.timer-container {
    width: 100%;
    padding: 15px;
    font-weight: 500;
}

#timer {
    font-weight: bold;
}

.user-inputs {
    width: 100%;
    min-height: 100px;
    padding: 15px;
}

.unscramble-input {
    width: 100%;
    border: none;
    border: 1px solid grey;
    outline: none;
    background-color: none;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 12px;
}

.buttons {
    min-height: 100px;
    padding-top: 15px;
    display: flex;
    margin-right: -15px;
}

.button {
    width: 100%;
    height: 50px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    margin-right: 15px;
    transition: .3s;
}

/* .button:active {
    background-color: red;
} */

.check {
    background-color: #1b9b1d;
}

.score {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.2rem;
}