@font-face {
    font-family: 'game-font';
    src: url('/res/fonts/GamePlayed-vYL7.ttf');
}

.hidden {
    opacity: 0;
    transition: .3s;
    display: none;
    animation: hideAway 3s forwards;
}

@keyframes hideAway {
    from {display: flex;}

    to {display: none;}
}

.main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 4;
    overflow: hidden;
}

.main-menu-gradient {
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 5000px;
    min-height: 5000px;
    z-index: 3;
    background: linear-gradient(to right bottom, #2d2d6b, #1b9b1d);
    animation: spinBackground 8s infinite linear;
}

@keyframes spinBackground {
    from {transform: rotate(0deg);}

    to {transform: rotate(360deg);}
}

.main-menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
}

.main-menu h2 {
    font-size: 8rem;
    font-family: 'game-font', sans-serif;
    color: #ffffff;
    letter-spacing: 15px;
    margin-bottom: 200px;
}

.main-menu .menu-btns {
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-menu .menu-btns .button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    transition: .3s;
    font-family: 'game-font', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.main-menu .menu-btns .button:hover {
    background-color: rgb(93, 93, 93);
    transform: translateY(-5px);
    box-shadow: 0 5px 25px #000;
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-over h2 {
    font-size: 8rem;
    font-family: 'game-font', sans-serif;
    color: #ffffff;
    letter-spacing: 15px;
    margin-bottom: 20px;
}

.game-over h3 {
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.game-over .button {
    width: 100%;
    max-width: 300px;
    height: 50px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    transition: .3s;
    font-family: 'game-font', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.game-over .button:hover {
    background-color: #5d5d5d;
    transform: translateY(-5px);
    box-shadow: 0 5px 25px #000;
}

.game-container {
    width: 100%;
    max-width: 500px;
    min-height: 450px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 50px #000;
    padding: 15px;
    z-index: 2;
}

.game-title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'game-font', sans-serif;
    letter-spacing: 5px;
}

.word-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.times-up {
    color: red;
}

.timer-container {
    width: 100%;
    padding: 15px;
    font-weight: 500;
}

#timer {
    font-weight: bold;
}

.user-inputs {
    width: 100%;
    min-height: 100px;
    padding: 15px;
}

.unscramble-input {
    width: 100%;
    border: none;
    border: 1px solid grey;
    outline: none;
    background-color: none;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 12px;
}

.buttons {
    min-height: 100px;
    padding-top: 15px;
    display: flex;
    margin-right: -15px;
}

.buttons .button {
    width: 100%;
    height: 50px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    margin-right: 15px;
    transition: .3s;
    font-family: 'game-font', sans-serif;
    letter-spacing: 2px;
}

/* .button:active {
    background-color: red;
} */

.buttons .check {
    background-color: #1b9b1d;
}

.buttons .button:hover {
    background-color: #5d5d5d;
}

.buttons .check:hover {
    background-color: #157716;
}

.score, .high-score {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'game-font', sans-serif;
    letter-spacing: 5px;
}

.high-score {
    left: unset;
    right: 15px;
}